body{

margin:0;

background:#000d2b;

font-family:Arial,sans-serif;

color:white;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px;

background:#101f52;

}

.container{

padding:30px;

}

.grid{

display:flex;

gap:25px;

flex-wrap:wrap;

}

.tool-btn{

width:280px;

height:110px;

font-size:28px;

font-weight:bold;

background:#182b63;

color:white;

border:none;

border-radius:20px;

cursor:pointer;

transition:0.3s;

}

.tool-btn:hover{

transform:translateY(-5px);

background:#27418f;

}
