body{
margin:0;
font-family:Arial,sans-serif;
background:#020816;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111a30;
}

.container{
padding:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:#121b33;
padding:25px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
background:#1b2747;
}

h2{
font-size:48px;
}

h3{
margin-top:0;
}
